k8s/secrets.yaml

*.env
setup/opendata_swiss/votings.csv
vendor
*./node_modules/*
dump

# Ignore local kubeconfigs and deployer creds
gha-deployer.kubeconfig
tmp
KUBECONFIG

*/.env
services/appview/dist
services/indexer/dist
services/appview/node_modules
services/indexer/node_modules
services/appview/.env
services/indexer/.env
*/.env

# services/pds


node_modules
.DS_Store
.vscode
.idea

# OpenStack credentials
infra/clouds.yaml
infra/*-openrc.sh
