kubectl delete secret pds-secrets -n poltr
kubectl create secret generic pds-secrets -n poltr \
  --from-literal=POSTGRES_DB=pds \
  --from-literal=POSTGRES_USER=pds_user \
  --from-literal=POSTGRES_PASSWORD='NEUES_POSTGRES_PASSWORD' \
  --from-literal=PDS_ADMIN_PASSWORD='NEUES_ADMIN_PASSWORD' \
  --from-literal=PDS_JWT_SECRET='NEUES_JWT_SECRET_HEX' \
  --from-literal=PDS_PLC_ROTATION_KEY_K256_PRIVATE_KEY_HEX='NEUE_PLC_ROTATION_KEY_HEX' \
  --from-literal=PDS_SERVER_DID='did:web:pds.poltr.ch'
  --from-literal=OAUTH_PRIVATE_KEY='MIGHAgEAMBMGByqGSM...............lYIzoDfCPDNNc06' \
  --from-literal=OAUTH_PUBLIC_KEY='.............' \
  --from-literal=OAUTH_KEY_PAIR_ID='...........' \
  --from-literal=PUBLIC_URL='https://..........'