# ./services/cms/.env
CMS_DATABASE_URL=....
CMS_SECRET=....
# Added by Payload

# ./services/appview/.env
APPVIEW_POSTGRES_URL=postgresql://....
APPVIEW_PDS_CREDS_MASTER_KEY_B64=B9...
PDS_INTERNAL_URL=http://localhost:2583
PDS_PUBLIC_HANDLE=id.poltr.ch
PDS_ADMIN_PASSWORD=.....