# ./services/cms/.env
CMS_DATABASE_URL=postgresql://...:...@localhost:5432/...
CMS_SECRET=...
# Added by Payload

# ./services/appview/.env
APPVIEW_POSTGRES_URL=postgresql://...:...@localhost:5432/...
APPVIEW_PDS_CREDS_MASTER_KEY_B64=...
PDS_INTERNAL_URL=...
PDS_PUBLIC_HANDLE=...
PDS_ADMIN_PASSWORD=...


NEXT_PUBLIC_CALCULATOR_URL=http://localhost:...

# POLTR_LANGUAGES=de-CH,en-GB,fr-CH,it-CH,rm
POLTR_LANGUAGES=de-CH,en-GB
POLTR_DEFAULT_LANGUAGE=de-CH
